.gridBlock {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(866px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(280px, 280px));
  padding: 70px 50px;
  gap: 20px;
  background-color: #d0f0e4;
}

.gridBlockMobile {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(193px, 1fr));
  padding: 10px;
  gap: 20px;
  background-color: #d0f0e4;
}
