/*.flexBlock {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 75px 237px;
  gap: 40px;
  background-color: #d0f0e4;
}

.flexBlockMobile{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 75px 0;
  gap: 40px;
  background-color: #d0f0e4;
}*/

@media (min-width: 300px) {
  .flexContainer {
    padding: 15px;
    background-color: #d0f0e4;
    min-height: calc(100vh - 200px);
  }

  .gridBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 1023px) {
  .gridBlock {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(435px, 435px));
    grid-template-rows: max-content;
    gap: 40px;
    justify-content: flex-start;
  }
}
@media (min-width: 1380px) {
  .flexContainer {
    width: 100%;
    padding: 75px 230px;
    background-color: #d0f0e4;
    min-height: calc(100vh - 200px);
  }
}
