.header {
  display: flex;
  align-items: center;
  height: 120px;
  width: 100%;
  position: relative;
}

h2 {
  font-family: "Koulen", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.875rem;
}

.nav {
  display: flex;
  padding: 0px 54px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.mobileHeader {
  justify-content: center;
}

.mobileHeader h2 {
  font-size: 1.9rem;
}

.logo {
  cursor: pointer;
}

.colorOne {
  background-color: #fac770;
}

.colorTwo {
  background-color: #D0F0E4;
}
